
.alturaCompleta{
    height: 100vh;
}
.bg-intecap{
    background: linear-gradient(to right, #38723a, #0a8f38);
   /* background-color: #0075bf;*/
}
.color-bonanza{
    color: #71cc5d;
}
.iconoUsuario{
    font-size: 100px;
    color: #71cc5d;
}
.colorLetra{
    color: rgb(28, 89, 11);
    font-size: 25px;
    
}
.color-boton{
background-color:   #71cc5d;
color: #fff;
}